#main img {
margin: bottom 32px;
margin-top: 64px;
}

body{
  text-align: center;
}

h1 {
  font-family: "Dosis", sans-serif;  
  font-weight: 600;
  margin-bottom: 16px;
}

h1 span{
  color: #EE24FF;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight:  350;
  color: #828282;
  margin-bottom: 32px;
  
}
 
a {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #3F3D56;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

p span {
  color: #3F3D56;
  font-weight: bold;
  
}

#line {
  width: 568px;
  color: #ECEFF2;
  height: 0px;
  border: 1px solid;
  margin: auto;
  margin-bottom: 12px;
}

